* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Rajdhani", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  background-color: rgb(138, 129, 124);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgb(70, 63, 58);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  height: 600px;
  width: 700px;
  border-radius: 50px;
}

h1 {
  font-size: 3.5rem;
  color: rgb(244, 243, 238);
}

.input-container {
  margin-top: 20px;
}

input[type="text"] {
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  color: rgb(70, 63, 58);
}

#qr-code-container {
  margin-top: 20px;
}

img {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(244, 243, 238);
}

button {
  height: 53px;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid black;
  background-color: rgb(244, 243, 238);
  color: rgb(70, 63, 58);
}

button:hover {
  transform: scale(0.95);
  cursor: pointer;
  background-color: rgb(138, 129, 124);
  color: rgb(244, 243, 238);
}

#download-link {
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid black;
  background-color: rgb(244, 243, 238);
  color: rgb(70, 63, 58);
  text-decoration: none;
  margin-top: 20px;
}

#download-link:hover {
  transform: scale(0.95);
  cursor: pointer;
  background-color: rgb(138, 129, 124);
  color: rgb(244, 243, 238);
}
